<div class="full">
<nav class="navbar navbar-expand-lg sticky-top" data-spy="affix" data-offset-top="197">
    <a class="navbar-brand" href="#">
  <img src="../../assets/icon1.ico" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div  class="collapse navbar-collapse" style="margin:0 2% 0  60%; padding: 0 0 0 5%" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="color:white" href="#">About<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
    </ul>
  </div>
</nav>


  <div>
  <div class="row center-info">
    <div class="col"> </div>
    <div classs="col"><b style="font-size: 32px"><span style="color:#c71610">My-</span>Planner (Effortless Calender)</b>
      <p>If it is Scheduling the next big thing, you have come to the right place<br>My-planner makes
    it easier than ever to effortlessly schedule and organize Events</p></div>
    <div class="col"> </div>
  </div>

  <div class="row left-info">
    <div class="col">
    <p style="font-size: 32px">Organize in a better way</p>
    <p><span style="color:black">My-</span>planner brings you the best way to originize your events.
    With real time updates, remainders and emails sent for each change made and remainder on your calender</p>
    </div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <div class="row right-info">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"><p style="font-size:32px">
      Easy to use UI
    </p>
  <p>Life is too messy so we bring you a easy to use UI.
    View events and remainders in a easy to use and convinent 24hr timeline
  </p>
  
  </div>
  </div>
  <div class="row right-info"></div>
</div>
<div class="footer bg-light">
  <div style="font-size:22px;"><span style="color:#c71610">My-</span>Planner</div>
  <small>(C) 2018 Project for Edwisor By Ankit Anand</small>
</div>
</div>