<div>

<div class="row">

  <div class="col-md-4"></div>
  <div class="col-md-4 box">
    <div class="row">
      <div class="col"></div>
      <div class="col">
    <img src="../../assets/icon.ico">
  </div>
  <div class="col"></div>
  </div>
    <h3 style="text-align: center; padding:2%"><span style="color:#c71610">My-</span>Planner</h3>
<div style="text-align: center; padding:2%">
    <small>Sign in - to continue</small>
  </div>
      <div class="form-group">
        <input  style="padding:2%" type="email" name='email' class="form-control" id="exampleInputEmail1" [(ngModel)]="email" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <input type="password" style="padding:2%" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>


      <div style="margin-top:5%" class="row">
        <div class="col"><a href="javascript:void(0);" (click)="forgotPassword()">forgot password?</a></div>
        <div class="col"><a style="margin: 10%" href="/signup">Not yet signed-up?</a></div>
      </div>

      <div style="margin-top:5%" class="row">
        <div class="col"></div>
        <div style="margin-left: 5%" class="col"><button style="text-align: right"  (click)="loginFunction()" class="btn btn-primary btn-lg">Login</button></div>
        <div class="col"></div>
      </div>
      


      

      

  </div>
  <div class="col-md-4"></div>
</div>

</div>